
<!DOCTYPE html>
<html lang="zh-Hant-TW">
@{
    ViewBag.Title = "Lottery App";
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/css/fontawesome.css" />
    <link rel="stylesheet" href="~/Content/css/brands.css" />
    <link rel="stylesheet" href="~/Content/css/solid.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/prj/Lottery/lottery.js"></script>

    <title>產基會抽獎系統</title>
</head>
<script>
    var UrlGetAllPrizesByActs = '@Url.Action("GetAllPrizesByActs")'; // 取得可活動獎品
    var UrlClearWinners = '@Url.Action("ClearWinners")';//清除得獎者清單
    var UrlChangeBackground = '@Url.Action("ChangeBackground")';//切換背景
</script>
<style>
    body {
        max-width: 100vw;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
</style>
<body>
    <div class="container">
        <div class="main-section">
            <div class="wheel-section">
                <div class="wheel-inside">
                    <img class="wheel-rotate" src="~/images/wheel.png" alt="" />
                    <div class="pointer-img">
                        <img src="~/images/pointer.png" alt="" />
                    </div>
                </div>
            </div>

            <div class="display">
                <h1>獎項 <label id="h1Text"></label></h1>
                <h1>中獎名單</h1>
                <div class="display-content grid container-fluid">             </div>
                <div class="function-area">
                    <div class="d-flex gap-1">
                        @Html.DropDownList("Activities", null, htmlAttributes: new { @class = "dropdown" })
                        @Html.DropDownList("Prizes", null, htmlAttributes: new { @class = "dropdown", @onchange = "getPrizeAndParticipantCount()" })
                        <input type="number" id="numDraws" placeholder="人數" onchange="checkmin()" />
                        <div class="d-inline d-flex flex-column"><div id="divPrize"></div>  <div id="divPart"></div></div>
                    </div>
                    <div>
                        <button class="btn run-btn mt-2" id="startButton" onclick="startLottery()">
                            <i class="fa-solid fa-gift"></i><span>開始抽獎</span>
                        </button>
                        <button class="btn clear mt-2" id="clearButton" onclick="clearWinnerTable()">清除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TmpPrizeId" value="" />
    <input type="hidden" id="TmpLotteryTime" value="" />
</body>

<script>
            $(document).ready(function () {
                getPrizeAndParticipantCount();
                submitBackgroundForm();
                changeActivety(); // 設置onChange，活動下拉選單(#Activities)
                hideBanner();//全螢幕時自動隱藏功能列
            }); // document ready end

            const runBtn = document.querySelector('.run-btn'); // 開始抽獎按鈕
            const wheel = document.querySelector('.wheel-rotate'); //輪盤的png
            const clearBtn = document.querySelector('.clear'); // 清除中獎清單的按鈕



            //監聽按下鍵盤按鍵事件
            document.addEventListener('keydown', function (e) {
                if (e.code === 'Space') {
                    if ($("#TmpPrizeId").val() != $("#Prizes").val()) {
                        clearWinnerTable();
                    }
                    startLottery();
                }
            });

            //20230913, add by markhong 配合按下紅色按鈕==發空白鍵的keydown==觸發啟動抽獎
            function checkLotteryTimeInterval() {
                startTime1 = $("#TmpLotteryTime").val();
                let date1 = new Date(startTime1);
                let date2 = new Date();
                //相差秒數
                let dateDiff = date2.getTime() - date1.getTime();
                return dateDiff / 1000;
            }

            //取剩餘參加者與獎項數量
            function getPrizeAndParticipantCount() {
                //console.log("cc");
                var activityId = $("#Activities").val(); //取得活動ID
                var prizeId = $("#Prizes").val();
                var prizeName = $("#Prizes").find("option:selected").text() != "" ? " - " + $("#Prizes").find("option:selected").text() : "";
                $('#h1Text').text(prizeName);
                var fd = new FormData();
                fd.append('ACTID', activityId);
                fd.append('PRIZE', prizeId);
                $.ajax({
                    url: '@Url.Action("getPrizeAndParticipantCount")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    //data: { numDraws: numDraws, ACTID: activityId, PRIZE: prizeId },
                    data: fd,
                    success: function (response) {
                        $('#divPrize').text(response[0]);
                        $('#divPart').text(response[1]);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }


            //開始抽獎
            function startLottery() {
                //20230913, add by markhong 防止誤觸連續抽獎
                if (checkLotteryTimeInterval() <= 5) {
                    console.log("OMG!!! Too fast...Please slow down.")
                    return;
                };
                $("#TmpLotteryTime").val(new Date());
                if ($("#TmpPrizeId").val() != $("#Prizes").val()) {
                    //console.log($("#TmpPrizeId").val(), $("#Prizes").val())
                    clearWinnerTable();
                }

                wheel.classList.add('active');
                $("#startButton").prop("disabled", true);
                var numDraws = $("#numDraws").val();
                var activityId = $("#Activities").val();
                var prizeId = $("#Prizes").val();
                $("#TmpPrizeId").val($("#Prizes").val());

                var fd = new FormData();
                fd.append('numDraws', numDraws);
                fd.append('ACTID', activityId);
                fd.append('PRIZE', prizeId);
                // 呼叫控制器的抽獎方法
                $.ajax({
                    url: '@Url.Action("StartLottery")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    //data: { numDraws: numDraws, ACTID: activityId, PRIZE: prizeId },
                    data: fd,
                    success: function (response) {
                        if (response.success) {
                            // 逐筆且間隔一秒顯示中獎者資料
                            var winners = response.winners;
                            var index = 0;
                            var interval = setInterval(function () {
                                if (index < winners.length) {
                                    var winner = winners[index];
                                    var display = `
                                            <div class="row">
                                                <div class="col">
                                                    <h3 class="name">
                                                        <i class="fa-solid fa-gift"></i>
                                                        <span>$$Name</span>
                                                    </h3>
                                                </div>
                                            </div>`.replace("$$Name", winner.FNAME)

                                    $(".display-content").append(display);
                                    autoDeleteFirstWinner(); //刪除多於行數
                                    index++;
                                    getPrizeAndParticipantCount();
                                } else {
                                    clearInterval(interval);
                                    wheel.classList.remove('active');
                                }
                            }, 1000);
                        } else {
                            alert(response.message);
                        }
                        $("#startButton").prop("disabled", false);

                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }

</script>
</html>


